@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  padding: 2rem;
}

input {
  text-align: center;
}

td{
  padding: 20px;
} 
th{
  padding: 20px;
}


/* Set a consistent box-sizing */
* {
  box-sizing: border-box;
}

/* Table layout with fixed widths for columns */
table {
  width: 100%; /* Adjust as needed */
  /* table-layout: fixed; /*This ensures consistent column widths */
  
  border-radius: 30px; /* Keep your rounded corners */
}

/* Table headers and cells with consistent padding and text alignment */
th,
td {
  padding: 20px; /* Adjust the padding as needed */
  text-align: left; /* Use 'center' or 'right' as needed */
  vertical-align: middle; /* Aligns content in the middle vertically */
}

/* Headers for specific columns can have specific widths */



